<h1>Hello!</h1>

<p>
  User <%= @feedback.user.first_name %> <%= @feedback.user.last_name %> just sent you feedback.
</p>

<h6>Title:</h6>
<p><%= @feedback.title %></p>

<h6>Body:</h6>
<p><%= @feedback.body %></p>
