<tr>
  <td class="align-middle">
    <%#= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%#= render 'form_inline', test: test == @test ? @test : test %>
    <%= image_tag(badge.file, size: "48") %>
  </td>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%#= test.questions.count %></td>
  <td class="align-middle"><%= link_to t('.show'), admin_badge_path(badge) %></td>
  <td class="align-middle">
    <%#= link_to t('.edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: 'form-inline-link' %>
  </td>
  <td class="align-middle">
    <%#= link_to t('.delete'),
                admin_test_path(test),
                method: :delete,
                data:   { confirm: t('.sure') } %>
  </td>
</tr>
