<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.test_passed? %>
    <span class="passed"><%= percents(@test_passage) %></span><br>
    Тест пройден.
  <% else %>
    <span class="failed"><%= percents(@test_passage) %></span><br>
    Тест не пройден.
  <% end %>
</p>

<%= link_to 'All tests', tests_path %>
