<footer>
  <p>
    <%= year %> Pavel Sazonov
  </p>

  <p>
    Project: <%= github_url('TestGuru', 'pavel-sazonov', 'test-guru') %> - tests for programmers.
  </p>

  <p>
    <%= link_to 'Educational project in online school Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</footer>

