<footer>
  <p>
    <%= year %> Павел Сазонов
  </p>

  <p>
    Проект: <%= github_url('TestGuru', 'pavel-sazonov', 'test-guru') %> - тесты для программистов.
  </p>

  <p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</footer>

