<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связались с Вами, чтобы уведомить вас о том, что Ваша электронная почта изменяется на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связались с Вами, чтобы уведомить вас о том, что Ваша почта была изменена на <%= @resource.email %>.</p>
<% end %>
